@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display|Jura:300&display=swap');

.brand
{
    color: rgb(160,10,40) !important;
    font-size: 40px;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
}
.navbar
{
    color: rgb(111,14,33) !important;
    font-size: 20px;
    font-family: 'Jura', sans-serif;
    text-transform: uppercase;
}

.nav-font-color{
    color: rgb(111,14,33) !important;
}
.nav-font-color:hover{
    color: rgb(192,192,192) !important;
}

.footer{
    color: rgb(192,192,192) !important;
}
.footer-links{
    color: rgb(192,192,192) !important;
    font-size: 14px;
}
.footer-links:hover{
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
}