@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display|Jura:300&display=swap');

.brand
{
    font-size: 30px;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
}
.navbar
{
    font-size: 20px;
    font-family: 'Jura', sans-serif;
    text-transform: uppercase;
}

.language
{   
    float: right;
    font-size: 20px;
    font-family: 'Jura', sans-serif;
    text-transform: uppercase;
}